<div id="mySidenav" class="sidenav">
  <a href="/" id="homepage">Home</a>
  <a href="/about" id="about">About</a>
  <a href="/packages" id="packages">Packages</a>
  <a href="/gallery" id="gallery">Gallery</a>
  <a href="/proofs" id="proofs">Proofs</a>
  <a href="/contact" id="contact">Contact</a>
</div>