<div class="social_links">
  <ol class="list-unstyled social-links">
    <li><a href="#"<%= fa_icon "facebook" %></a></li>
    <li><a href="#"<%= fa_icon "linkedin-square" %></a></li>
    <li><a href="#"<%= fa_icon "twitter" %></a></li>
    <li><a href="#"<%= fa_icon "instagram" %></a></li>
  </ol>
</div>
