<div id="title">
  <h3>If you are interested in more information please feel free to contact me.  Thanks!</h3>
</div>

<div class="well">
  <div class="contact">
    <h2>Location</h2>
    
    <p>Houston/Spring/The Woodlands, Texas</p>
  
    <h2>Phone</h2> 
  
    <p><%= number_to_phone "1112223345" %></p>
  
    <h2>Email</h2> 
  
    <p><span class="btn btn-outline-secondary"><%= link_to "Email me", "mailto:amy_coffaro04@yahoo.com?subject=Website Contact" %></span></p>
  </div>

  <% yield %>

  <br>
  
  <%= render 'shared/social_links' %>
</div>
